extends layout

block content
	h1 Welcome to my User Info App
	p This is a little app to find and add users
	br
	h3 Search for Users by first name or last name
	br
	p If you enter a full first or last name you can click submit and view the full details of that user
	br 
	div
		form(method='POST' action='/searchresult')
			input(class='auto' type="text", name="name", placeholder="first or last name")
			button.btn(type='submit') Search
	br
	br
	br
	div.autoresult
		p Start typing to search for users!
			
	script.
		//- first I need to set it so that on each keyup in the form above a call is sent to compare if there is a name that has that letter (combination). 
		//- On each keyup it needs to send a request to the app.js to compare to the names in the JSON file, 
		//- which then needs to send the response back to the pug here to display or not in the div.autoresult which is currently empty
		//- I am logging date.now twice to show that the timeout is taking 300 ms from the keyup to the request hitting the server, as per the assignment.
		//- This would otherwise not really be visible
		$( document ).ready(function() {
			$('.auto').keyup(function () {
				var startTime = Date.now();
				console.log(startTime);
				setTimeout(function(){
					if (startTime+300) {
						var letters = {autoname: $('.auto').val()};
						console.log(Date.now());
						$.post('/searchresult', letters, function(res) {
							if (res.complete.length === 0) {
								$('.autoresult').html("<p> No users found!</p>");
							} else {
								var completeName = res.complete;
								var names = "";
								for (var i=0; i<completeName.length; i++) {
									names = names += ('<br>' + completeName[i].firstname + " " + completeName[i].lastname);
									$('.autoresult').html('<p>'+names+'</p>');
									};
							};
						}); 
					}
				},300)	
			});
		});	
