extends layout

block content
	h1 Welcome to my User Info App
	p This is a little app to find and add users
	br
	h3 Search for Users by first name or last name
	br
	h4 This is case sensitive!
	br 
	div
		form(method='POST' action='/searchresult')
			input(type="text", name="name", placeholder="name")
			button.btn.btn-primary(type='submit') Search
