doctype html
html(lang="en")
	head
		link(href='./main.css', rel='stylesheet')
		title User Info App
	body
		block content


	footer
		br
		br
		a.button(href="/users") All Users  
		br
		br 
		a.button(href="/")  Back to Search
		br
		br
		a.button(href="/adduser") Add New User