doctype html
html(lang="en")
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		link(href='./main.css', rel='stylesheet')
		title User Info App
	body
		block content


		footer
			br
			br
			a.button(href="/users") All Users  
			br
			br 
			a.button(href="/")  Back to Search
			br
			br
			a.button(href="/adduser") Add New User