body {
	text-align: center;
	color: red;
}

li {
	list-style: none;
}

ul {
	text-align: center;
}

div {
	text-align: center;
}

a.button {
	font-size: 15pt;
	color: rgb(74, 144, 219);
	text-decoration-style: none;
}